$moveOffScreen: translateX(0);

.aboutSection {
    position: relative;
    &__bio-pic {
        display: block;
        border-radius: 100%;
        margin: 20px auto;
    }

    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
