.MuiFormControl-root {
    margin: 20px 0;
}

.MuiFormControl-fullWidth {
    margin: 20px 0 !important;
}

.contactSection {
    .jumbotron {
        margin-top: 45px;
    }
}

.projects-grid__title-bar {
    &-title {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
