

.frost {
    height: 100%;
    width: 100%;
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3)                    ;
    display: block;
    position: absolute;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: inset(6em);
    clip-path: inset(1em);
    @include media(">desktop"){
        clip-path: inset(5em);
    }    
    -webkit-filter: blur(20px);
    filter: blur(20px);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    border-top: 2px solid rgba(225, 225, 225, 0.2);
    border-left: 1px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.3);

    &__header{
        position: absolute;         
    }
    
&:before{
    display: block;
    content: "";
    position: absolute;
    /* top: 10em; */
    height: calc(100% - 20em);
    width: calc(100% - 20em);
    border-top: 2px solid rgba(225, 225, 225, 0.2);
    border-left: 1px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.3);
    z-index: 2;
}
    @include media (">=desktop"){
        
        font-size: 43px;
        
    }
    
}