

body {

    font-family: 'Open Sans', sans-serif;
    background: black
    
    p{
        font-family: 'Roboto', sans-serif;
    }

}

h1, h2, h3 {
    font-family: 'Domine', serif;
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }