.projects-grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__project {
        background-size: 100%;
        background-position: center;
        position: relative;
        border: 1px solid white;
        @include media('<=tablet') {
            width: 50% !important;
        }

        @include media('>=phone', '<tablet') {
            width: 100% !important;
        }

        &-image {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__title-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(2, 2, 2, 40%);
        height: 56px;

        color: white;
        text-transform: uppercase;
        font-weight: 200;
        @include poly-fluid-sizing(
            'font-size',
            (
                576px: 14px,
                768px: 16px,
                992px: 18px,
            )
        );
        text-align: center;
        padding: 20px;
    }
}

.singleProject__image {
    border-radius: 100%;
    width: 406px;
    height: 406px;
}

.cardRow {
    justify-content: center;
    img {
        position: relative;
        width: 100%;
        box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
        border: 3px solid white;
    }
}
