$navHeight: 75px;

.navigation {
  opacity: 1;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  right: 0;
  height: $navHeight;
  background: transparent;

  &__container {
    width: 100%;
    position: relative;
    height: $navHeight;
  }

    &__hamburger-button{

        opacity: 1;
        width: 60px;
        height: 45px;
        position: absolute;
        right: 0;
        margin: 15px;
        transform: rotate(0deg) scale(.70);
        transition: .5s ease-in-out;
        cursor: pointer;
        &:hover > span {
          background: $teal !important;
        }

        span {
            display: block;
            position: absolute;
            height: 7px;
            width: 50%;
            background: $teal;;

            .open &{
              background: $teal;;
            }
            opacity: 1;
            transition: .25s ease-in-out;

            &:hover {
              background: $teal !important;
            }
        }

        & span:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
          }
          
          & span:nth-child(odd) {
            left:0px;
            border-radius: 9px 0 0 9px;
          }
          
          & span:nth-child(1), & span:nth-child(2) {
            top: 0px;
          }
          
          & span:nth-child(3), & span:nth-child(4) {
            top: 18px;
          }
          
          & span:nth-child(5), & span:nth-child(6) {
            top: 36px;
          }
          
          &.open span:nth-child(1),&.open span:nth-child(6) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          
          &.open span:nth-child(2),&.open span:nth-child(5) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          
          &.open span:nth-child(1) {
            left: 5px;
            top: 7px;
          }
          
          &.open span:nth-child(2) {
            left: calc(50% - 5px);
            top: 7px;
          }
          
          &.open span:nth-child(3) {
            left: -50%;
            opacity: 0;
          }
          
          &.open span:nth-child(4) {
            left: 100%;
            opacity: 0;
          }
          
          &.open span:nth-child(5) {
            left: 5px;
            top: 29px;
          }
          
          &.open span:nth-child(6) {
            left: calc(50% - 5px);
            top: 29px;
          }
    }


    /* menu */




    &__menu {
      background: url('../../images/chalkboard.jpg') repeat;
      position: fixed;
      width: 100%;
      height: 0;
      top: 0;
      overflow: hidden;
      z-index: 1;
      nav {
        @include centerOnScreen;
      }
      &-list{

        li {
          list-style: none;
          text-align: center;
          margin: 0 0 10px 0;
         a{
           font-size: 2.25em;
          text-decoration: none;
          color: #ffffff;
          text-transform: capitalize;

          &:hover, &:active {
            color: #17EBF0;
            transition: color .333s ease-in-out;
          }
         }
        }
      }

      // open menu 
      transition: all 1s ease;
      .open & {
        height: 100%;
        display: block;
        opacity: 1;
        transition: all 1s ease;

      }
    }

}

// brand 

.brand {
  opacity: 1;
  display: block;
  position: absolute;
  margin: 0;
  background: #333;
  color: $teal;
  padding: 20px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);

  &:hover > p {
    color: $teal;
  }
  p{
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
  }

  small{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    display: block;
    color: #caf0f1;
  }
}