.unsplash {
    display: block;
    opacity: 0;
    position: relative;
    width: 100%;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

    &__photographer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #333;
        color: white;
        
        p{
            
            font-size: 12px;
            strong{
                color: $teal;
            }
        }

        a{
            color: white;
        }
    }

    &__port-pic{

        margin: 10px 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    &__photographer {
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        left:0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        padding: 0 20px;
        justify-content: center;
        @include media(">desktop"){
            flex-direction: row;
            justify-content: space-evenly;
        }
        >img{
           margin: 10px 10px 10px 0;
        }
        p{
            padding: 0;
            margin: 0 0 20px 0;
            padding: 5px;
            display: block;
            width: 100%;
            @include media(">phone"){
                margin: 0;
            }
            
        }
    }

    &__caret {
        opacity: 0;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 100px;
        opacity: 0;
        animation: pulse 3s infinite;
        transition: all 1s ease;

        &:hover {
            animation: none;
            opacity: 1;
            // transform: scale(1.2);
            transition: all 1s ease;
            cursor: pointer;
        }
    }

    // location data 

    .location {
        opacity: 0;
        font-size: 12px;
        color: $teal;
    }


    &__button {
        position: absolute !important;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);

    }
}

.jumbotron {
    background-size: cover !important;
    background-position: center !important;
    margin: 0;
}






